
.right_side{
    height: 100%;
    width: 60%;
    left: 40%;
    top: 0;
    position: fixed;
    overflow: hidden;
    background: aqua;
}
.stage_container{
    position: absolute;
    aspect-ratio: 1 / 1;
    width: 75%;
    display: grid;
    grid-template-rows: 2fr repeat(3, 3fr 1fr);
    grid-template-columns: 1fr 2fr 4fr 2fr 1fr 2fr;
}
.stage_container div{
    overflow: hidden;
}

/* grid items */
.entry1{
    grid-row: 1 / 7;
    background: var(--bg_black);
    grid-column: 1;
    writing-mode: vertical-lr;
}
.entry2{
    grid-row: 1 / 7;
    background: var(--bg_black);
    grid-column: 5;
    writing-mode: vertical-lr;
}
.sensory{
    grid-column: 6;
    grid-row: 6;
    background: gold;
}
.bathrooms{
    grid-column: 6;
    grid-row: 2;
    background: orangered;
}
.food{
    grid-column: 6;
    grid-row: 4;
    background: greenyellow;
}
.stage{
    grid-row: 1;
    grid-column: 2 / 5;
    background: dodgerblue;
}
.entryway1{
    background: var(--bg_black);
    grid-column: 2 / 5;
    grid-row: 3;
}
.entryway2{
    background: var(--bg_black);
    grid-column: 2 / 5;
    grid-row: 5;
}
.space{
    background: var(--site_purple);
    display: grid;
    transition: background 0.5s;
}
.left_space{
    grid-column: 2;
}
.right_space{
    grid-column: 4;
}
.standard{
    grid-column: 3;
    background: var(--site_pink);
    display: grid;
}
.sect1{
    grid-row: 2 / 3;
}
.sect2{
    grid-row: 4 / 5;
}
.sect3{
    grid-row: 6 / 7;
}

.seat{
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 75%;
    margin: auto;
    background: var(--site_purple);
    display: none;
    opacity: 100%;
}
.seat_show{
    display: block;
}
.pop{
    visibility: hidden;
    width: 120px;
    background: forestgreen;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.5s;
}



.seat_hover{
    position: fixed;
    transform: translate(-3.5vw,-11.5vw);
    height: 10vw;
    width: 7vw;
    background: orangered;
    border-radius: 0.5vw;
    z-index: 10;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
}
.seat_hover::after{
    content: "";
    position: absolute;
    top: 99%;
    left: 2.5vw;
    border-width: 1vw;
    border-style: solid;
    border-color: orangered transparent transparent transparent;
}
.seatpop_show{
    opacity: 100;
}
